.card{ class: "#{idx == 0 ? '' : 'hidden'}", data: { queue: "#{idx}" } }
  .card-image
    = image_tag place.image_url
  .card-content
    %h5.title= place.name
    .links 
      = link_to "#", class: "text-red dislike-button" do
        = icon 'times'
      = link_to place.mobile_url, target: "_blank", rel: "noopener noreferrer", class: "text-green" do
        = icon 'heart'
